.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Элементы, которые появляются */
.visible {
  opacity: 1;
  transform: translateY(0);
}

.about__info {
  position: relative;
  background-image: url("../images/about/for\ greeting.jpg"); /* Замените на путь к вашему изображению */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 50px;
  color: #fff;
  text-align: center;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Полупрозрачный черный наложение для лучшей читаемости текста */
  z-index: 0;
}

.about h1 {
  font-size: 38px;
  letter-spacing: 1.2px;
  z-index: 1;
  -webkit-text-stroke: 0.2px #000; /* Для Webkit-браузеров */
  text-stroke: 0.2px #fff; /* Для других браузеров */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для текста */
}

.about__line {
  width: 100px;
  height: 2px;
  z-index: 1;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #b1053d;
}

.about__info p {
  z-index: 1;
}

@media (max-width: 768px) {
  .about__info {
    background-attachment: scroll; /* Фиксация фона для параллакса */
    background-position: center center;
  }
}

@media (max-width: 600px) {
  .about__info {
    padding: 20px;
  }
}

/* features */

.features {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 50px;
  background: #F7F7F7;
  justify-content: space-between;
}

.feature-item {
  text-align: center;
  width: 32%;
  transition: 300ms;
}

.feature-item:nth-child(1) {
  transition-delay: 0.2s;
}


.feature-item:nth-child(2) {
  transition-delay: 0.4s;
}


.feature-item:nth-child(3) {
  transition-delay: 0.6s;
}

.fa-headset,
.fa-clock,
.fa-laptop-code {
  color: #b1053d;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feature-text h3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.feature-text p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #777 !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.feature-item:hover .feature-icon i {
  color: #ff0000; /* Цвет иконки при наведении */
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .feature-item {
    width: 90%;
    margin-bottom: 50px;
  }
}
