.contacts__info {
  position: relative;
  background-image: url("../images/contacts/for\ greeting.jfif"); /* Замените на путь к вашему изображению */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 50px;
  color: #fff;
  justify-content: center;
  height: 60vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.contacts__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Полупрозрачный черный наложение для лучшей читаемости текста */
  z-index: 0;
}

.contacts h1 {
  font-size: 38px;
  letter-spacing: 1.2px;
  z-index: 1;
  -webkit-text-stroke: 0.2px #000; /* Для Webkit-браузеров */
  text-stroke: 0.2px #fff; /* Для других браузеров */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для текста */
}

.contacts__line {
  width: 100px;
  height: 2px;
  z-index: 1;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #b1053d;
}

.contacts__info p {
  z-index: 1;
}

@media (max-width: 768px) {
  .contacts__info {
    background-attachment: scroll; /* Фиксация фона для параллакса */
    background-position: center center;
  }
}

@media (max-width: 600px) {
  .contacts__info {
    padding: 20px;
  }
}

/* maps info */

.maps {
  padding: 50px 50px;
}

.maps__text {
  color: #727272;
  font-size: 1.5rem;
  text-align: center;
}

.maps__text span {
  color: #b1053d;
}

.maps__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
}

.maps__contentInfo {
  width: 45%;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info-item p {
  margin-left: 10px;
  margin-bottom: 0;
}

.map__icon {
  font-size: 1.5rem; /* Размер иконок */
  margin-right: 10px;
  color: #b1053d; /* Цвет иконок */
}

.maps__contentMap {
  width: 45%;
  height: 300px;
  background-color: #fff; /* Чтобы карта была видимой */
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .maps {
    padding: 50px 20px;
  }  
}

@media (max-width: 768px) {
  .maps__content {
    flex-direction: column;
  }

  .maps__contentInfo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .maps__contentMap {
    width: 100%;
    height: 300px;
  }

  .info-item i {
    font-size: 1.5rem; /* Немного уменьшаем иконки на мобильных устройствах */
  }

  .maps__contentInfo {
    width: 90%;
  }
}
