.greeting {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/images/home/FirstSection.jpg") center/cover;
  padding: 100px 0;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 60vh;
  background-attachment: fixed; /* Фиксация фона для параллакса */
  position: relative;
  overflow: hidden;
}

.greeting__wrapper {
  display: flex;
  z-index: 100;
  position: relative;
  flex-direction: column;
  align-items: flex-start; /* Выравнивание по левой стороне */
  padding: 50px;
  text-align: left;
  max-width: 80%; /* Ограничение ширины блока */
  position: relative;
  left: 0;
}

.greeting__title {
  font-size: 2.5em;
  color: #fff;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для улучшения контраста */
  font-weight: bold;
}

/* .greeting__line {
  height: 2px;
  width: 10%;
  background: #b1053ec3;
} */

.greeting__descr {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для улучшения контраста */
  margin: 0;
  padding: 40px 0;
}

.greeting__btn {
  padding: 12px 30px;
  background-color: #b1053d;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms;
  border: none;
  cursor: pointer;
}

.greeting__btn:hover {
  color: #fff;
  background-color: #b1053ec3;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .greeting__wrapper {
    padding: 30px;
    max-width: 100%;
  }

  .greeting {
    padding: 50px 0;
    background-attachment: scroll; /* Фиксация фона для параллакса */
    background-position: center center;
  }

  .greeting__title {
    font-size: 1.8em;
  }

  .greeting__descr {
    font-size: 1em;
  }

  .greeting__btn {
    padding: 10px 25px;
  }
}

@media (max-width: 480px) {
  .greeting__wrapper {
    padding: 20px;
  }

  .greeting__title {
    font-size: 1.5em;
  }

  .greeting__descr {
    font-size: 0.9em;
  }

  .greeting__btn {
    padding: 8px 20px;
  }
}

/* OFFERS */

.offers__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 30px 0;
}

.block {
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  transition: 200ms;
  cursor: pointer;
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Элементы, которые появляются */
.visible {
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
}

.block:hover {
  transform: translateX(-10px);
}

.block__icon {
  font-size: 3em;
  color: #b1053d;
  margin-bottom: 15px;
}

.block__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.block__text {
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .block {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .block {
    max-width: 100%;
  }
}

/* SERVICES */

.services {
  padding: 50px;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  position: relative;
  flex: 1 1 30%; /* Блоки занимают 30% ширины с возможностью уменьшения */
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.services__line {
  width: 100px;
  height: 1px;
  margin-bottom: 25px;
  background: #b1053d;
}

.services__item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.services__item:hover img {
  transform: scale(1.1);
}

.services__btn {
  border: none;
  color: #fff;
  margin-top: 5px;
  transition: 200ms;
  padding: 5px 10px;
  border-radius: 5px;
  background: #b1053d;
}

.services__btn:hover {
  transform: translateX(-5px);
}

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
}

.services__content h3 {
  text-align: center;
  font-size: 1.3em;
}

@media (max-width: 600px) {
  .services__item {
    flex: 1 1 45%; /* Блоки занимают 45% ширины на средних экранах */
  }

  .services {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .services__item {
    flex: 1 1 100%; /* Блоки занимают 100% ширины на маленьких экранах */
  }
}
