.services__info {
  position: relative;
  background-image: url("../images/home/FirstSection.jpg"); /* Замените на путь к вашему изображению */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 50px;
  color: #fff;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.services__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Полупрозрачный черный наложение для лучшей читаемости текста */
  z-index: 0;
}

.service h1 {
  font-size: 38px;
  z-index: 1;
  letter-spacing: 1.2px;
  -webkit-text-stroke: 0.2px #000; /* Для Webkit-браузеров */
  text-stroke: 0.2px #fff; /* Для других браузеров */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для текста */
}

.services__line {
  width: 100px;
  z-index: 1;
  height: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #b1053d;
}

.service p {
  z-index: 1;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.service-block {
  position: relative;
  width: calc(33.333% - 20px);
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

.service-block:nth-child(even) {
  transform: translateX(100%);
}

.service-block.visible {
  opacity: 1;
  transform: translateX(0);
}

.service-block:hover {
  transform: scale(1.05);
}

.service-block::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  transition: filter 0.3s ease-in-out;
}

#service1::before {
  background-image: url("../images/services/first.jpg");
}

#service2::before {
  background-image: url("../images/services/second.jpg");
}

#service3::before {
  background-image: url("../images/services/third.png");
}

#service4::before {
  background-image: url("../images/services/fourth.webp");
}

#service5::before {
  background-image: url("../images/home/asd.webp");
}

#service6::before {
  background-image: url("../images/services/last.jpg");
}

.service-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.service-block:hover .service-content {
  background-color: rgba(0, 0, 0, 0.7);
}

.service-content h3 {
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}

@media (max-width: 992px) {
  .service-block {
    width: calc(50% - 20px);
    background: transparent;
  }
  .service-content {
    background: transparent;
  }
}

@media (max-width: 700px) {
  .service-block {
    width: calc(100% - 20px);
  }
  .service-content h3 {
    font-weight: 600;
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .services__wrapper {
    padding: 20px;
  }
}

@media (max-width: 550px) {
  .service-block {
    width: calc(100% - 20px);
  }
  .service-content h3 {
    font-weight: 600;
    font-size: 100%;
  }
}
