.services__info {
  position: relative;
  background-image: url("../images/services/for-greeting.jpg"); /* Замените на путь к вашему изображению */
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 50px;
  height: 60vh;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed; /* Фиксация фона для параллакса */
  position: relative;
  overflow: hidden;
}

.services__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Полупрозрачный черный наложение для лучшей читаемости текста */
  z-index: 0;
}

.services h1 {
  font-size: 38px;
  z-index: 2;
  letter-spacing: 1.2px;
  -webkit-text-stroke: 0.2px #000; /* Для Webkit-браузеров */
  text-stroke: 0.2px #fff; /* Для других браузеров */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для текста */
}

.services__line {
  width: 100px;
  z-index: 1;
  height: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #b1053d;
}

.services p {
  z-index: 1;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 100px 50px;
}

.services__item {
  position: relative;
  overflow: hidden;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.services__item:hover {
  transform: translateX(5px);
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#service1::before {
  background-image: url("/src/images/services/first.jpg"); /* Укажите путь к изображению */
}

#service2::before {
  background-image: url("/src/images/services/second.jpg");
}

#service3::before {
  background-image: url("/src/images/services/third.png");
}

#service4::before {
  background-image: url("/src/images/services/fourth.webp");
}

#service5::before {
  background-image: url("/src/images/services/five.jfif");
}

#service6::before {
  background-image: url("/src/images/services/last.jpg");
}

.service__content {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Темный полупрозрачный фон для текста */

  color: #fff;
  width: 80%;
  transition: 400ms;
}

.service__content:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Темный полупрозрачный фон для текста */
}

.service__title {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

@media (max-width: 1090px) {
  .services__item {
    width: 45%;
  }
}


@media (max-width: 768px) {
  .services__info {
    background-attachment: scroll; /* Фиксация фона для параллакса */
    background-position: center center;
  }

  .services__item {
    width: 100%;
  }
}

@media (max-width: 600px) {

  .services__wrapper {
    padding: 50px 20px;
  }

  .services__item {
    width: 100%;
  }
}