@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  padding: 0 50px;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px 50px;
  align-items: center;
  background-color: #000;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 25px;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__icon {
  color: #b1053d;
}

.header__link {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__text {
  color: #fff;
  transition: 200ms;
  letter-spacing: 1.2px;
}

.header__text:hover {
  color: #b1053d;
}

.header__language {
  display: flex;
  gap: 10px;
}

.header__language-item {
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.header__language-item:hover {
  color: #b1053d;
}

@media (max-width: 768px) {
  .header__contact {
    flex-direction: column;
    align-items: center;
  }
  .header__container {
    padding: 20px 30px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #b1053d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 200ms;
  cursor: pointer;
  font-size: 1.2em;
}

.scroll-to-top:hover {
  transform: translateY(-5px);
}

.scroll-to-top.visible {
  display: block;
}

.header {
  top: 0;
  z-index: 1000;
  position: sticky;
}

.navbar {
  padding: 5px 50px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.653);
  background: #ffffff;
}

.container-fluid {
  padding: 0 !important;
}

/* Стили для ссылки при наведении */
.navbar-nav {
  gap: 25px;
  padding: 10px 0;
}

.nav-link {
  color: #000;
  font-weight: 500;
  padding: 5px 25px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.2px;
}

.nav-link::before {
  color: #b1053d;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: #000; /* Белый цвет текста при нажатии */
}

.navbar-nav .nav-link:hover {
  background-color: #b1053d; /* Красный фон при наведении */
  color: #fff !important; /* Белый цвет текста при наведении */
}

/* Стили для dropdown меню */
.dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  text-align: center;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #b1053d; /* Красный фон при наведении на пункт dropdown меню */
  color: white; /* Белый цвет текста при наведении */
}

/* Убедитесь, что все ссылки в dropdown меню также имеют красный фон при наведении */
.dropdown-item {
  color: #b1053d;
}

.navbar-toggler {
  border: 1px solid #b1053d;
  outline: none !important;
  color: #b1053d;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .navbar {
    padding: 5px 20px;
  }
}

.nav-link.active {
  background-color: #b1053d !important; /* Красный фон для активной ссылки */
  color: #fff !important; /* Белый цвет текста для активной ссылки */
}

.footer {
  background: #191919;
  color: #d1d1d1;
  padding: 40px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer__section h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.footer__contacts p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__line {
  width: 100px;
  height: 1px;
  margin-bottom: 25px;
  background: #d1d1d1;
}

.footer p,
a {
  font-size: 0.9em;
}

.footer__section a {
  color: #d1d1d1;
  text-decoration: none;
}

.footer__section p {
  margin: 0;
  margin-bottom: 20px;
}

.footer__section a:hover {
  text-decoration: underline;
}

.footer__contacts p,
.footer__contacts a {
  display: flex;
  align-items: center;
}

.footer__contacts i {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
  }

  .footer__section {
    flex: 100%;
  }

  .footer__section h3 {
    margin-bottom: 5px;
  }

  .footer__contacts,
  .footer__section {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .footer__line {
    margin-bottom: 15px;
  }
}

.contact {
  padding: 50px 0;
  background: #f7f7f7;
}

.contact-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
}

.contact-block__text {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}

.contact-block__textFrist {
  font-size: 1.2em !important;
}

.contact-block__textSecond {
  padding-top: 20px;
  color: #333333b6;
  font-size: 0.9em !important;
}

.contact-block__email,
.contact-block__tel {
  color: #b1053d;
}

.contact-block__text p {
  margin: 0;
}

.contact-block__button {
  display: flex;
  align-items: center;
  background-color: #b1053d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-block__button:hover {
  background-color: #b1053ec8;
  color: #fff;
}

.contact-block__button i {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0 20px;
  }

  .contact-block {
    width: 100% !important;
    text-align: center;
    padding: 0 !important;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-block__text {
    text-align: center;
  }

  .contact-block__button {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }
}
