@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  padding: 0 50px;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px 50px;
  align-items: center;
  background-color: #000;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 25px;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__icon {
  color: #b1053d;
}

.header__link {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__text {
  color: #fff;
  transition: 200ms;
  letter-spacing: 1.2px;
}

.header__text:hover {
  color: #b1053d;
}

.header__language {
  display: flex;
  gap: 10px;
}

.header__language-item {
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.header__language-item:hover {
  color: #b1053d;
}

@media (max-width: 768px) {
  .header__contact {
    flex-direction: column;
    align-items: center;
  }
  .header__container {
    padding: 20px 30px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #b1053d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 200ms;
  cursor: pointer;
  font-size: 1.2em;
}

.scroll-to-top:hover {
  transform: translateY(-5px);
}

.scroll-to-top.visible {
  display: block;
}

.header {
  top: 0;
  position: sticky;
}

.navbar {
  padding: 5px 50px;
  background: #ffffff;
}

.container-fluid {
  padding: 0 !important;
}

/* Стили для ссылки при наведении */
.navbar-nav {
  gap: 25px;
  padding: 10px 0;
}

.nav-link {
  color: #000;
  font-weight: 400;
  padding: 5px 25px;
  text-align: center;
  letter-spacing: 1.2px;
}

.nav-link::before {
  color: #b1053d;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: #000; /* Белый цвет текста при нажатии */
}

.navbar-nav .nav-link:hover {
  background-color: #b1053d; /* Красный фон при наведении */
  color: #fff !important; /* Белый цвет текста при наведении */
}

/* Стили для dropdown меню */
.dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  text-align: center;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #b1053d; /* Красный фон при наведении на пункт dropdown меню */
  color: white; /* Белый цвет текста при наведении */
}

/* Убедитесь, что все ссылки в dropdown меню также имеют красный фон при наведении */
.dropdown-item {
  color: #b1053d;
}

.navbar-toggler {
  border: 1px solid #b1053d;
  outline: none !important;
  color: #b1053d;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .navbar {
    padding: 5px 20px;
  }
}


/* greeting */

.greeting {
  width: 100%;
  background-image: url(../images/home/FirstSection.jpg);
  background-size: cover;
}

.greeting__wrapper {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.greeting__title {
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  -webkit-text-stroke: 0.2px #000; /* Для Webkit-браузеров */
  text-stroke: 0.2px #fff; /* Для других браузеров */
  border-radius: 10px;
  max-width: 80%;
}

.greeting__title span {
  display: block;
  margin: 10px 0;
  font-size: 0.7em;
  line-height: 1.5;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  background-color: #b1053d;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #b1053eca;
  color: #fff;
}

@media (max-width: 600px) {
  .greeting__title {
    padding: 10px;
    font-size: 1.2em;
    max-width: 100%;
  }

  .container {
    padding: 0 20px;
  }

  .greeting__title span {
    margin: 5px 0;
    font-size: 1em;
  }
  .button {
    font-size: 1em;
    padding: 8px 16px;
  }
}

/* OFFERS */

.offers__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 30px 0;
}

.block {
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  transition: 200ms;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  transform: translateX(-10px);
}

.block__icon {
  font-size: 3em;
  color: #b1053d;
  margin-bottom: 15px;
}

.block__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.block__text {
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .block {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .block {
    max-width: 100%;
  }
}

/* Contact block */

.contact {
  padding: 50px 0;
  background: #f7f7f7;
}

.contact-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  padding: 0px 25px;
}

.contact-block__text {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}

.contact-block__textFrist {
  font-size: 1.2em !important;
}

.contact-block__textSecond {
  padding-top: 10px;
  color: #333333b6;
  font-size: 0.9em !important;
}

.contact-block__email,
.contact-block__tel {
  color: #b1053d;
}

.contact-block__text p {
  margin: 0;
}

.contact-block__button {
  display: flex;
  align-items: center;
  background-color: #b1053d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-block__button:hover {
  background-color: #b1053ec8;
  color: #fff;
}

.contact-block__button i {
  margin-right: 10px;
}

@media (max-width: 600px) {

  .wrapper {
    padding: 0 20px;
  }

  .contact-block {

    width: 100% !important;
    text-align: center;
    padding: 0 !important;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-block__text {
    text-align: center;
  }

  .contact-block__button {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }
}


/* SERVICES */

.services {
  padding: 50px;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  position: relative;
  flex: 1 1 30%; /* Блоки занимают 30% ширины с возможностью уменьшения */
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.services__line {
  width: 100px;
  height: 1px;
  margin-bottom: 25px;
  background: #b1053d;
}

.services__item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.services__item:hover img {
  transform: scale(1.1);
}

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.services__item:hover .services__content {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
}

.services__content h3, .services__content p {
  margin: 10px 0;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .services__item {
      flex: 1 1 45%; /* Блоки занимают 45% ширины на средних экранах */
  }

  .services {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .services__item {
      flex: 1 1 100%; /* Блоки занимают 100% ширины на маленьких экранах */
  }
}




.footer {
  background: #191919;
  color: #D1D1D1;
  padding: 40px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer__section h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.footer__contacts p{
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__line {
  width: 100px;
  height: 1px;
  margin-bottom: 25px;
  background: #D1D1D1;
}

.footer p, a {
  font-size: 0.9em;
}

.footer__section a {
  color: #d1d1d1;
  text-decoration: none
}

.footer__section p {
  margin: 0;
  margin-bottom: 20px;
}

.footer__section a:hover {
  text-decoration: underline;
}

.footer__contacts p,
.footer__contacts a {
  display: flex;
  align-items: center;
}

.footer__contacts i {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
  }

  .footer__section {
    flex: 100%;
  }

  .footer__section h3 {
    margin-bottom: 5px;
  }

  .footer__contacts, .footer__section {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .footer__line {
    margin-bottom: 15px;
  }

}
